@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body, html {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fff;
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 50px); 
	z-index: 1;
}

.wrapper{
}

.lenta {
	position: relative;
	background-color: rgba(255, 255, 255, 0.0);
	width:80%;
	margin: 0 auto;
	min-height: calc(100vh - 50px);
	//border-left: 1px solid #333;
	//border-right: 1px solid #333;
	//opacity: .3;
}

.goods{
	//background-color: rgba(55, 55, 55, 0.5);
	//background-color: white;
	position: relative;
	z-index: 10000;
	//height: 55vh;
}


.good {
	float: left;
	padding-right: 100px;
	//margin-right: 100px;
	width:300px;

	border-radius: 10px;
	background-color: #dddddd;
	//padding: 5px;
	//margin: 5px;
	overflow: hidden;
	height: 400px;
}

.goodsline :last-child {
	//margin-right: 0px;/*Убираем поле последнего div-а*/ 
}


.inner-image {
	width: 50%;
	float: left;
}
.inner-kek {
	//width: 50%;

	float: left;
}


.textandbutton {
	padding-top: 10px;
	width: 300px;
}

.pod-text {
	padding-left: 10px;
	float: left;
	border-radius: 10px;
	background-color: #eeeeee;
	//height: 90px;
	//display: flex;
	//justify-content: center;
}

.pod-button{
	float: right;

}

.btn {
	//float: right;
	height: 50px;
	width: 70px;
	background: #ff9e16;
	border-top-right-radius: 0;
}


.goodsline {
	//padding: 1vh;
	background-color: rgba(255, 255, 255, 0.0);
	//margin: 1vh;
	//border-bottom: 10px rgba(255, 255, 255, 0.0);
	height: 400px;
}

.good img {
	border-radius: 10px;
	//border: 1px solid #333;
	height: 300px;
	width: 300px;
}










