---
title: Главная
layout: layout.njk
---
<section>
  <!-- <h1>здесь потом можно дописать любую хуйню</h1> -->
  <div class="list">
    {%- for post in collections.posts -%}
      {% include "post-card.njk" %}
    {%- endfor -%}
  </div>
</section>
