{% extends "layout.njk" %}
{% block content %}
<div class="article-wrap">
  <article class="article-card">

    {# HERO внутри белой карточки, можно выключить hero:false #}
    {% if hero != false and cover %}
      <div class="article-hero-in">
        <img class="article-cover" src="{{ cover | url }}" alt="{{ title }}">
      </div>
    {% endif %}
    <div class="post-body">


<header class="hero">
  <h1 class="article-title">{{ title }}</h1>

  {% set authorName = author or site.author %}
  <div class="article-meta">
    {% if authorName %}
      <span class="meta-author">{{ authorName }}</span>
      <span class="dot">•</span>
    {% endif %}
    <time>{{ date | readableDate }}</time>
  </div>
</header>


    
      {{ content | safe }}
    </div>
  </article>
</div>
{% endblock %}
