---
title: Теги
layout: layout.njk
---
<section class="tags-index">
  <h1>Все теги</h1>
  <div class="tags-cloud">
    {% for tag in collections.tagList %}
      <a class="tag-chip" href="/tags/{{ tag | slug }}/">{{ tag }} <span class="count">{{ collections[tag] | length }}</span></a>
    {% endfor %}
  </div>
</section>
